<div class="shoppingContainer" >
    <h1>Shopping List</h1>
    <% if @foods.present?%>
    
        <% if @foods.length > 0 %>
            <h3>Amount of food items to buy: <%= @foods.count %></h3>
            <h1>Total value of food needed: <%= @foods.sum { |food| food.price * food.quantity } %> </h1>
        <% else %>
            <h3>Amount of food items to buy: No items yet</h3>
            <h1>Total value of food needed: No items yet </h1>
        <% end %>
        <table>
            <tr>
                <th>
                    Food
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
            </tr>
            <% @foods.each do | food | %>
                <tr>
                    <td>
                        <%= food.name %>
                    </td>
                    <td>
                        <%= food.quantity %>
                    </td>
                    <td>
                        <%= food.price * food.quantity %>
                    </td>
                </tr>
            <% end %>
        </table>
    <% else %>
        <h1>No Items in the cart</h1>
    <% end %>
</div>

