<div class="publicRecipes" >
    <h1>
        Public Recipes
    </h1>
    <% if @recipes.present? %>
        <% @recipes.each do | recipe | %>

            <div class="recipeContainer" onclick=<%="visitRecipe(#{recipe.id})"%> >  
                <div class="recipeLeft">
                    <h2>
                        <%= recipe.name %>
                    </h2>
                    <h4>
                        By <%= recipe.user.name %>
                    </h4>
                </div>
                <div class="recipeRight">
                    <h4>
                        Total food items: <%= recipe.foods.length %>
                    </h4>
                    <% if recipe.foods.length > 0 %>
                        <h4>
                            Total price: <%= recipe.foods.sum { |food| food.price * food.quantity } %>
                        </h4>
                    <% else %>
                        <h4>
                            Total price: 0
                        </h4>
                    <% end %>
                </div>
            </div>
        <% end %>
    <% else %>
        No Public recipes
    <% end %>
</div>

<script>
    function visitRecipe(id){
        window.location.href = `/recipes/${id}`;
    }
</script>
